  <!-- custom input radio buttons -->
<div class="cs-product_breaks">
	<div class="csradio-container  product-single__form product-form__item">
	
		<input type="radio" class="single-option-selector-{{ section.id }} "
		{% if option.selected_value == value %} checked="checked"{% endif %} id="Quantity-1" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">

		<label for="Quantity-break-1-0">Buy 1: 
			<span class="qb-radio text-money">
				<span class="money">
					€79,00

		</span></span></label>
		</div>

	<div class="csradio-container product-single__form product-form__item">

		<input type="radio" class="single-option-selector-{{ section.id }} "
	id="Quantity-2" name="quantity" value="2" min="2" class="product-form__input" pattern="[0-9]*">

		<label for="Quantity-break-1-1">Buy 2: 
			<span class="qb-radio text-money">
				<span class="qb-discounted-price on-sale text-sale">
					<span class="money">
						€148,00
					</span>
				</span>

				<span class="qb-original-price text-strike text-muted">
					<span class="money">
						€158,00
					</span>
				</span>
				<span class="badge qb-saved-amount">
					Bespaar <span class="money">€10,00</span>
				</span>
			</span>
		</label>

	</div>

		<div class="csradio-container product-single__form product-form__item">
		<input type="radio" class="single-option-selector-{{ section.id }} "
		id="Quantity-3" name="quantity" value="3" min="3" class="product-form__input" pattern="[0-9]*">

		<label for="Quantity-break-1-2">Buy 3: 
			<span class="qb-radio text-money">
				<span class="qb-discounted-price on-sale text-sale">
					<span class="money">
						€225,00
					</span>
				</span>

				<span class="qb-original-price text-strike text-muted">
					<span class="money">
						€237,00
					</span>
				</span>
				<span class="badge qb-saved-amount">
					Bespaar <span class="money">€12,00</span>
				</span>
			</span>
		

		</label>
	</div>
</div>

<!-- end of custom radio buttons -->